# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# IDEs
.idea/
.vscode/
.cursor/
.zed/

# IA (??)
CLAUDE.md
AGENTS.md
.claude # I do not know if this exists
.codex # Does this exist?
SKILLS.md # Maybe people adds this on the repository?
